.ico {
  display: inline-block;
  cursor: pointer;
}

.icon-square {
  display: inline-flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 19px;

  &_violet {
    background-color: $color-violet;
  }

  &_yellow {
    background-color: $color-yellow;
  }

  &_red {
    background-color: $color-red;
  }

  &_blue {
    background-color: $color-blue;
  }
}

.ico_play {
  background-image: url("../img/promo/play.svg");
  width: 18px;
  height: 19px;
}

.ico-arrow {
  width: 12px;
  height: 17px;
  background-image: url("../img/tools/ico_arrow_0.svg");
}

.ico_theme {
  display: inline-flex;
  justify-content: center;
  background-color: $color-light;
  width: 25px;
  height: 25px;
  align-items: center;
  border-radius: 50%;

  &-phone {
    background-image: url("../img/contact_us/phone.svg");
    width: 13px;
    height: 13px;
    transform: matrix(0.95, 0.18, -0.34, 0.98, 0, 0);
  }

  &-email {
    background-image: url("../img/contact_us/mail.svg");
    width: 11px;
    height: 8px;
  }
}



