@import "../abstracts/mixins";

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', 'Verdana', sans-serif;
}

h1 {
  @include font(44px, bold, 54px); // Не передаем font-style: normal, т.к. он указан в параметрах миксина по умолчанию

  font-family: 'Poppins', 'Verdana', sans-serif;
}

h2 {
  @include font(34px, bold, 46px);
}

h3 {
  @include font(24px, bold, 34px);
}

h4 {
  @include font (22px, 600, 30px);
}

h5 {
  @include font (16px, bold, 26px);
}