.tools__wrapper {
  padding-bottom: 90px;
  background-image: url("../img/tools/bg.png");
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.tools__title {
  margin: auto;
  margin-bottom: 70px;
  width: 462px;
  text-align: center;
}

.tools__button {
  text-align: center;
  margin-top: 60px;
}

// Tool block
.tool__icon {
  margin-bottom: 30px;
}

.tool__title {
  margin: 0 0 16px;
}

